@charset "utf-8";

//Typography
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400&display=swap');

@import '../node_modules/bulma/sass/utilities/_all.sass';

//Variables
//Fonts.

//Body
$family-serif: 'Noticia Text', serif;
$family-primary: $family-serif;
$body-font-size: 1.3em;
$body-color: $grey-dark;

//Titles and subtitles
$title-family: 'Exo', sans-serif;
$title-color: $grey-dark;
//$title-weight: $weight-light;

$subtitle-family: 'Exo', sans-serif;
$subtitle-color: $grey-dark;
//$subtitle-weight: $weight-light;

//Links
$link: $grey-dark;

//Hero
//$hero-colors: grey;

//Custom vars.

//End custom vars.

//End variables

@import '../node_modules/bulma/bulma.sass';
