@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

@import '../node_modules/bulma/sass/utilities/_all.sass';

//Variables
//Fonts.
//Body
$family-serif: 'Noticia Text', serif;
$family-primary: $family-serif;
$body-font-size: 1.3em;
$body-color: $grey-dark;

//End variables

@import '../node_modules/bulma/bulma.sass';
