//Pages variables.
$page-header-color: #2f4a5c;

//Pages' styles
.page-header-background {
  background-color: $page-header-color;
}

//General links
.link {
  border-bottom: 1px dotted $grey-light;
}

//Image header.
.image {
  @include until($desktop) {
    height: 330px;
    background-image: url('/assets/images/SanSebastian-mobile.png');
  }
  @include from($desktop) {
    height: 330px;
    background-image: url('/assets/images/SanSebastian-mobile-up.png');
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
